.back_to_amazon{
    color: rgb(0,113,133);
    font-size: 11px;
  }
  

  .custo{
    color: rgb(0, 118, 0);
    font-weight: bold;
    font-size: 12px;
  }

  .free_delivery{
    font-size: 11px;
  }


  .add_to_cart-button{
    background-color: rgb(255,216,20);
    border:none;
    border-radius: 50px;
    height: 20px;
    width: 78px;
    font-size: 9px;
    font-weight: bold;
    margin-right: 5px;
  }

  .buy_now-button{
    background-color: rgb(255,164,28);
    border:none;
    border-radius: 50px;
    width: 78px;
    height: 20px;
    font-size: 9px;
    font-weight: bold;
  }